/*
 * Axamit, gc.support@axamit.com
 */

.mapper-container {
    position: relative;
    max-width: 551px;
}

#mapping-form-panel .x-panel-body {
    background-color: transparent;
}

.mapping form .x-form-item-description {
    padding-left: 0 !important;
}

.mapping #CQ select {
    border: 1px solid rgb(169, 169, 169);
}

#accordion, #meta-name-wrapper {
    width: 900px;
}

label.error {
    color: red;
    margin-left: 3px;
}

.mapping #CQ .x-form-item-label {
    width: 162px !important;
}

.mapping #CQ .x-form-search-trigger {
    left: 235px;
}

.path {
    width: 167px !important;
}

#template-path-error {
    left: 18px;
    position: relative;
}

#empty-mapping-modal {
    color: #0c0c0c;
}

.mapper-select {
    width: 100%;
}

#meta-name-label {
    color: #000000;
    float: left;
}

#meta-name-selection {
    padding-bottom: 10px;
}

#meta-name-select {
    float: right;
    width: 690px;
}

#meta-name-information {
    padding-bottom: 10px;
    color: red;
}

.moveTo {
    float: right;
    width: 30%;
}

.carousel-checkbox-wrapper {
    padding-top: 5px;
}

.select-wrapper {
    padding-left: 165px;
    margin-top: -16px;
}

.conf-label {
    width: 125px;
    color: #000000;
}

.conf-wrapper {
    margin-top: 7px;
}

.select-wrapper > select {
    width: 310px;
}

#plugin-conf-wrapper {
    margin-top: 2px;
}

form {
    margin-bottom: 15px;
}

.x-form-item-description {
    color: #8F8F8F;
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: 8px;
    padding-right: 5%;
}

.carousel-checkbox {
    margin: 0 5px 0 0;
    vertical-align: middle;
}

form.hide {
    display: none;
}

.component-box {
    padding: 10px;
    border: 1px solid;
}

.disabled-gray {
    background-color: #eee;
}

.warn {
    color: red;
}
