/*
 * Axamit, gc.support@axamit.com
 */

.gc-import-hide-children-import-path {
    visibility: hidden;
}

th.select-checkbox {
    text-align: center;
}

.full-width {
    width: 100% !important;
}

#import-table {
    margin-top: 15px;
    position: relative;
}

label.description {
    display: inline-table;
    width: 180px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.filter-select {
    width: 250px;
    height: 21px;
}

.property-label {
    display: block;
    float: left;
    width: 100px;
    padding: 3px;
    padding-left: 0;
    clear: left;
    z-index: 2;
    position: relative;
    color: #000000;
}

.property-description {
    color: #8F8F8F;
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: 8px;
    padding-right: 5%;
}

#confirmation-table-wrapper .property-description {
    font-size: 12px;
    color: #666666;
}

.dataTables_length {
    margin-bottom: 5px;
    margin-top: 5px;
}

h1 {
    width: 660px;
}

.gc-status-line {
    font-size: 16px;
    margin-bottom: 2px;
    font-weight: bold;
    margin-top: 10px;
}

