<template data-sly-template.mapperTemplate="${@ mapper}"
          data-sly-test="${mapper.templateName}">
    <h1>${mapper.templateName}</h1>
    <div id="meta-name-wrapper">
        <div id="meta-name-selection" class="clearfix">
            <span id="meta-name-label">GatherContent Page Name</span>
            <select id="meta-name-select" data-sly-list.entry="${mapper.fieldsMappings['META_NAME'].entrySet}">
                <option value="${entry.key}"
                        selected="${mapper.metaMapper['META_NAME'] == entry.key ? 'selected' : ''}">
                    ${entry.value}
                </option>
            </select>
        </div>
        <div id="meta-name-information"></div>
    </div>
    <div id="accordion" data-sly-list.group="${mapper.gcTemplateGroups}">
        <h3 class="clearfix" data-label="${group.name}">
            Group: ${group.name}
            <select data-sly-test="${mapper.gcTemplateGroups.size > 1}" class="moveTo" data-from="${group.name}"
                    data-sly-list.tab="${mapper.gcTemplateGroups}">
                <option data-sly-test="${tabList.first}" value="" disabled selected hidden>Move to</option>
                <option data-sly-test="${group.name != tab.name}" value="${tab.name}">group : ${tab.name}</option>
            </select>
        </h3>
        <div data-label="${group.name}" data-sly-list.element="${group.fields}">
            <sly data-sly-test.component="${element.type == 'COMPONENT'}">
                <h4>[COMPONENT] ${element.label}</h4>
                <div data-sly-list.componentElement="${element.component.fields}"
                class="component-box">
                    <sly data-sly-call="${fieldTemplate @ mapper=mapper, element=componentElement}"></sly>
                </div>
            </sly>
            <sly data-sly-test="${!component}">
                <sly data-sly-call="${fieldTemplate @ mapper=mapper, element=element}"></sly>
            </sly>
        </div>
    </div>
    <div id="active-tab" data-tabcount="1"></div>
</template>

<template data-sly-template.fieldTemplate="${@ mapper, element}">
    <sly data-sly-test.isGuidelines="${element.type.toString == 'GUIDELINES'}"/>

    <div data-sly-test="${!isGuidelines}"
         class="mapper-element"
         data-id="${element.uuid}" >
        <h4>[${element.type}] ${element.label}</h4>
        <select class="mapper-select" data-sly-list.entry="${mapper.fieldsMappings[element.uuid].entrySet}">
            <sly data-sly-test.selected=""/>
            <sly data-sly-list.property="${mapper.mapper[element.uuid].path}">
                <sly data-sly-test.selected="${property == entry.key ? 'selected' : selected}">
                </sly>
            </sly>
            <option value="${entry.key}" selected="${selected}">
                ${entry.value}
            </option>
        </select>
    </div>
</template>