<template data-sly-template.mapperTemplate="${@ mapper}"
          data-sly-test="${mapper.templateName}">
    <h1>${mapper.templateName}</h1>
    <div id="accordion" data-sly-list.group="${mapper.gcTemplateGroups}">
        <h3 class="clearfix" data-label="${group.name}">
            Group: ${group.name}
            <select data-sly-test="${mapper.gcTemplateGroups.size > 1}" class="moveTo" data-from="${group.name}"
                    data-sly-list.tab="${mapper.gcTemplateGroups}">
                <option data-sly-test="${tabList.first}" value="" disabled selected hidden>Move to</option>
                <option data-sly-test="${group.name != tab.name}" value="${tab.name}">group : ${tab.name}</option>
            </select>
        </h3>
        <div data-label="${group.name}" data-sly-list.element="${group.fields}">
            <sly data-sly-test.isFiles="${element.type.toString == 'FILES'}"/>
            <div data-id="${element.name}" data-sly-attribute.class="${isFiles ? 'disabled-gray mapper-element' : 'mapper-element'}">
                <h4>[${element.type}] ${element.label}</h4>
                <div class="warn" data-sly-test="${isFiles}">
                    'FILES' type is not available for export due to GC API restrictions. //TODO
                </div>
                <select class="mapper-select" data-sly-attribute.disabled="${isFiles}" multiple="multiple">
                    <sly data-sly-list.entry="${mapper.absFieldsMappings[element.uuid].entrySet}">
                        <sly data-sly-test.selected=""/>
                        <sly data-sly-list.property="${mapper.mapper[element.uuid].path}">
                            <sly data-sly-test.selected="${property == entry.key ? 'selected' : selected}">
                                <sly data-sly-test.activeTab="${!activeTab && entry.value != 'Don\'t map' ? groupList.count : activeTab}"/>
                            </sly>
                        </sly>
                        <option value="${entry.key}" selected="${selected}">
                            ${entry.value}
                        </option>
                    </sly>
                </select>
            </div>
        </div>
    </div>
    <div id="active-tab" data-tabcount="${activeTab ? activeTab : 1}"></div>
</template>