<template data-sly-template.listTemplate="${@ itemList}">
    <table id="update-list-table" class="display full-width">
        <thead>
        <tr>
            <th><input id="all-items-checkbox" type="checkbox"></th>
            <th>Status</th>
            <th>Folder</th>
            <th>Item Name</th>
            <th>Mapping Name</th>
            <th>Path in AEM</th>
            <th>Path in GC</th>
            <th>Last updated in AEM</th>
            <th>Last updated in GC</th>
        </tr>
        </thead>
        <tbody data-sly-list.item="${itemList.itemList}">
        <tr importPath="${item.importPath}"
            mappingPath="${item.mappingPath}" itemId="${item.id}" itemTemplate="${item.gcTemplate}">
            <td></td>
            <td class="item-status">
                <span class="coloredspan" style="background-color:${item.color @ context='styleToken'}"></span>
                ${item.status}
            </td>
            <td><span class="item-title">${item.hierarchyTitle}</span></td>
            <td><span class="item-title">${item.title}</span></td>
            <td><span class="mapping-name">${item.mappingName}</span></td>
            <td><a href="${item.importPath}.html" target="_blank">${item.importPath}</a></td>
            <td><a href="${item.gcPath}" target="_blank">${item.gcPath}</a></td>
            <td>${item.aemUpdateDate}</td>
            <td>${item.gcUpdateDate}</td>
        </tr>
        </tbody>
    </table>
</template>