<template data-sly-template.listTemplate="${@ itemList}">
    <table id="item-list-table" class="display full-width">
        <thead>
        <tr>
            <th><input id="all-items-checkbox" type="checkbox"></th>
            <th>Path in AEM</th>
            <th>Status</th>
            <th>Item Name</th>
            <th>Last updated in GATHERCONTENT</th>
            <th>Last updated in AEM</th>
            <th>Template Name</th>
        </tr>
        </thead>
        <tbody data-sly-list.item="${itemList.itemList}">
        <tr importPath="${item.importPath}"
            mappingPath="${item.mappingPath}" itemId="${item.id}">
            <td></td>
            <td><a href="${item.importPath}.html" target="_blank">${item.importPath}</a></td>
            <td class="item-status">
                <span class="coloredspan" style="display: inline-block;width: 15px;height: 15px;position: relative;border-radius: 50px; background-color:${item.color @ context='styleToken'}"></span>
                ${item.status}
            </td>
            <td class="item-title">${item.title}</td>
            <td>${item.gcUpdateDate}</td>
            <td>${item.aemUpdateDate}</td>
            <td class="item-template">${item.gcTemplate}</td>
        </tr>
        </tbody>
    </table>
</template>