<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories='apps.gathercontent.components.update-list'}"/>
<div id="update-table-wrapper" data-sly-use.itemList="com.axamit.gc.core.sightly.models.UpdateListModel">
    <h1>
        Update
    </h1>

    <div>
        <label class="property-label" for="update-project-select">Project</label>
        <div>
            <select class="filter-select" id="update-project-select">
                <option value="">Select Project</option>
                <sly data-sly-list.project="${itemList.projects}">
                    <option value="${project.id}">${project.name}</option>
                </sly>
            </select>
        </div>
        <div class="property-description">Select GatherContent project. You can only see projects
            with mapped templates in the dropdown.
        </div>
    </div>

    <div class="margin-top-5">
        <label class="property-label" for="status-filter">Filter</label>
        <div>
            <select class="filter-select" id="status-filter">
                <option value="">Select Status</option>
            </select>
            <input placeholder="Filter by Item Name" id="title-filter" value=""/>
        </div>
        <div class="property-description">Filter Items by template, workflow status or Item name</div>
    </div>

    <div>
        <label class="property-label" for="update-filter">Direction</label>
        <div>
            <select class="filter-select" id="update-filter">
                <option value="aem">GC to AEM</option>
                <option value="gc">AEM to GC</option>
            </select>
        </div>
        <div class="property-description">Select update direction. From AEM to GC or GC to AEM.</div>
    </div>

    <div id="update-table">
        <sly data-sly-use.listView="list-template.html"
             data-sly-call="${listView.listTemplate @ itemList = itemList}">
        </sly>
    </div>

    <div class="margin-bottom-5">
        <label for="change-status-select">After update change status in GC to </label>
        <select id="change-status-select">
            <option value="">- Don't change status -</option>
        </select>
    </div>

    <input class="ui-button ui-widget ui-corner-all" id="update-items" type="button" value="Update"/>
</div>

<div id="confirmation-table-wrapper">
    <h1>Confirm Update Selection</h1>
    <div id="status-change-header" class="gc-status-line"></div>
    <div class="property-description">Please review your selection before updating.</div>
    <table id="confirmation-table" class="full-width">
    </table>
    <input class="ui-button ui-widget ui-corner-all" id="cancel-update" type="button" value="Cancel"/>
    <input class="ui-button ui-widget ui-corner-all" id="confirm-update" data-pagepath="${currentPage.path}"
           data-path="${resource.path}" type="button" value="Confirm"/>
</div>

<div id="empty-list-modal" title="WARNING">
    Please select at least one item.
</div>
