<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories='apps.gathercontent.components.import-list'}"/>
<h1>
    Import History
</h1>

<div id="import-history-list-table-wrapper">
    <table id="import-history-list-table" class="full-width" data-path="${resource.path}">
        <thead>
        <tr>
            <th>Job ID</th>
            <th>Job Type</th>
            <th>GatherContent Project Name</th>
            <th>Start</th>
            <th>Finish</th>
            <th>Status</th>
            <th>Details</th>
        </tr>
        </thead>
    </table>
    <input class="ui-button ui-widget ui-corner-all" id="refresh-history-table" type="button" value="Refresh"/>
</div>
